{% extends "AppAdminBundle::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block titlePage %}
    Towns
{% endblock %}

{% block breadcrumb %}
    <li>Countries & Towns</li>
    <li class="active">Towns</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Update Town</h3>
                </div>
                <div class="box-body">
                    <form action="{{ path('app_admin_town_update', {'id' : town.id}) }}" {{ form_enctype(form) }} method="POST" autocomplete="off">
                        {{ form_errors(form) }}
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                {{ form_label(form.country, 'Country', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }} <span class="asterisk red">*</span>
                                {{ form_widget(form.country, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                {{ form_label(form.name, 'Name', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }} <span class="asterisk red">*</span>
                                {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                            </div>
                        </div>

                        <div class="col-sm-9 col-sm-offset-3" style="margin-top: 40px;">
                            <div class="pull-right">
                                <input type="submit" value="{{ 'Valider'|trans }}" class="btn btn-success"/>
                            </div>
                        </div>
                        <span class="hidden"> {{ form_rest(form) }} </span>

                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/datatables/dataTables.bootstrap.min.js') }}"></script>

    <script>
        $(function () {
            $("#_datatable_countries").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}